<p>movie-details works!</p>
<h2>{{ movie.title }}</h2>
<main>
  <img *ngIf="movie.poster" [src]="movie.poster" />
  <p *ngIf="movie.overview">{{ movie.overview }}</p>
  <p><em>Release date: </em> {{ movie.release }}</p>
  <p *ngIf="movie.runtime"><em>Runtime: </em> {{ movie.runtime }}</p>
  <p><em>Genre: </em><span *ngFor="let genre of movie.genres">{{ genre }}, </span></p>
  <p><em>Companies: </em><span *ngFor="let company of movie.prodCompanies">{{ company }}, </span></p>
  <p><em>Status: </em> {{ movie.status }}</p>
</main>